<nav class="navbar navbar-expand-lg" id="navbar-head">
  <a class="navbar-brand" id="navbar-home-link" href="#">Wanderlust America</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <span class="navbar-text" id="navbar-subheader">
      A campsite mapper for the modern adventurer
    </span>
  </div>
</nav>