<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Wanderlust America</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{> navbar}}
		{{{ body }}}
	</body>
<script src="/js/npArray.js"></script>
<script src="/js/stateCodeArray.js"></script>
<script src="/js/view.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{!-- <script src="/js/map.js"></script> --}}
</html>
