<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Noto+Sans+TC:wght@300&display=swap"
		rel="stylesheet">
	<title>Wanderlust America</title>
	<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
	{{> navbar}}
	{{{ body }}}
</body>
<script src="/js/npArray.js"></script>
<script src="/js/stateCodeArray.js"></script>
<script src="/js/view.js"></script>
<script src="/js/campgroundRating.js"></script>
<src="https: //stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
	</src=>
	<src="https: //cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
		</src=>

</html>