<h1>National Park and Campsite Map</h1>


<div id="googleMap" style="width:700px;height:500px;"></div>

    <div class="container np">
        <h2>Pick a National Park</h2>
        <select name="nationalParks" id="nationalParks" class="select-dropdown"></select>
        <div id="np-view"></div>
    </div> 
    <div id="activities">

        <div id="activity-view"></div>
    </div>
<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(39.833333,-98.583333),
  zoom:4,
  // mapTypeId: google.maps.MapTypeId.HYBRID,
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

const image = "tents.png";

var marker = new google.maps.Marker({
  // WE WILL MANIPULATE THE MARKER POSITION AND ZOOM
  position: {lat:35.514706, lng:-89.912506},
  map:map,
  icon: image
})
};


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNSFmU_Tr3OE3j0g1xAXhLwrQC_h1fupA&callback=myMap"></script>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

