body {
    font-family: 'Noto Sans TC', sans-serif;
}

#navbar-home-link {
    font-family: 'Domine', serif;
    font-size: 2rem;
    color: #FAF6F2;
}


#navbar-head {
    background-color: #354c41;
}

#navbar-subheader {
    font-family: 'Noto Sans TC', sans-serif;
    color: #FAF6F2;
}

.hide {
    z-index: -1;
    color: white;
    font-size: 2px;
}
