body {
    font-family: 'Noto Sans TC', sans-serif;
}

#navbar-home-link {
    font-family: 'Domine', serif;
    font-size: 2rem;
    color: #FAF6F2;
}

.btn-light, .review-btn, .btn-light:hover, .btn-light:active, .btn-light:visited {
    background-color: #354c41 !important;
    color: #FAF6F2;

}

.np-container{
    margin-bottom: 6rem;
}

#navbar-head {
    background-color: #354c41;
}

#navbar-subheader {
    font-family: 'Noto Sans TC', sans-serif;
    color: #FAF6F2;
}

.hide {
    z-index: -1;
    color: white;
    font-size: 2px;
}
